body {
  background-color: white;
  margin: 0px;
  padding: 0px;
}

.headerLandpage {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.headerLandpage {
  height: 30px;
}