body {
  background-color: white;
  margin: 0px;
  padding: 0px;
  color: #193A4E;
}

.headerLandpage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

.headerLandpage {
  height: 30px;
}

.webinarSection {
  background-color: #F0F8FF;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.webinarSection h1{
  color: #0D84FF;
  margin: -30px 0 20px 0;
  font-size: 60px;
}

.webinarSection h3 {
  font-size: 35px;
}

.webinarSection p:before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(153, 153, 153);
}

.buttonWebinar a {
  text-decoration: none;
  color: inherit;
}

.buttonWebinar {
  background-color: #F0F8FF;
  color: #0D84FF;

  border-style: none;
  border: 2px solid;
  border-radius: 20px 20px 20px 2px;
  border-color: #0D84FF;

  font-size: 12px;
  font-weight: 900;

  cursor: pointer;

  height: 30px;
  width: 200px;
}

.buttonWebinar:hover {
  background-color: #fff;
}

.headerLogo {
  position: absolute;
  right: 430px;
  height: 25px;
}

.demoSection {
  display: flex;
  flex-direction: row; 
  background-color: #F0F8FF;
}

.divDemoImg img{
  height: 600px;
  width: 600px;
  margin: 40px 20px 0 100px;
}

.divDemoCTA {
  margin: 200px 100px 0 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
}

.divDemoCTA h1 {
  font-size: 30px;
}

.divDemoCTA h2 {
  font-size: 15px;
  margin-right: 40%;
  margin-top: -40px;
}

.divDemoCTA h2:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: rgb(153, 153, 153);
}

.divDemoCTA p {
  font-size: 10px;
  font-weight: bolder;
  margin-bottom: 200px;
}

.buttonDemo {
  color: #F0F8FF;
  font-weight: bolder;
  flex-basis: 40%;
  margin-right: 2%;
  height: 50px;
  border-radius: 30px;
  border-style: none;
  background-color: #0D84FF;
  cursor: pointer;
}

.buttonDemo:hover {
  color: #0D84FF;
  background-color: #F0F8FF;
}

.seloRD {
  height: 50px;
  margin: 0 25% 0 2%;
  flex-basis: 30%;
}

.ratingStar {
  width: 60px;
  height: 10px;
  padding: 10px;
  margin-bottom: 190px;
}

.noCard {
  height: 10px;
  width: 10px;
  padding: 10px;
  margin-bottom: 190px;
}

.divLogoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.divLogoFooter img {
  width: 200px;
  height: 45px;
}

.divLogoFooter p {
  font-size: 12px;
}

.divInformationFooter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 300px;
}

.divInformationFooter ul {
  list-style: none;
  margin-right: 20px;
}

.divInformationFooter ul p {
  font-weight: bolder;
  margin-bottom: 40px;
}

.divInformationFooter ul li {
  font-size: 12px;
  margin-bottom: 20px;
}

.divInformationFooter ul li a {
  text-decoration: none;
  color: inherit;
}